[Unit]
Description=Refresh proxy subscription every day

[Timer]
OnCalendar=*-*-* 05:10:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
